@{
    var pageName = ViewContext.RouteData.Values["controller"].ToString();

    var controllerType = "";
    switch (@Model.CategoryId)
    {
        case 1:
            controllerType = "Cases";
            break;

        case 2:
            controllerType = "CPUs";
            break;

        case 3:
            controllerType = "CPUCoolers";
            break;

        case 4:
            controllerType = "GPUs";
            break;

        case 5:
            controllerType = "Motherboards";
            break;

        case 6:
            controllerType = "PSUs";
            break;

        case 7:
            controllerType = "RAMs";
            break;

    }
}

        <li onload=myFunction(@pageName) class="list-group-item">
            <div class="row text-center">
                <div class="col-md-3">
                    <img src="@Model.ImagePath" class="rounded float-left" alt="img-thumbnail" width="150px" />
                </div>
                <div class="col-md-3">
                    <h3 class="text-center">@Model.Make - @Model.Model @Model.Capacity</h3>
                    @{
                    }
                    <p class="text-left"><strong>Price - </strong>@Model.Price€</p>
                    <a class="btn btn-primary"
                       asp-controller="@controllerType"
                       asp-action="Details"
                       asp-route-id="@Model.Id">Details</a>
                    <br />
                    <div><div class="text-left"> Quantity = </div><input class="text-right form-control form-control-sm col-2" type="number" placeholder="#" value="@Model.Quantity" min="0" max="50"></div>
                    <a class="btn btn-warning"
                       asp-controller="Carts"
                       asp-action="Remove"
                       asp-route-id="@Model.Id">Remove</a>
                </div>
            </div>
        </li>

    