<li class="list-group-item">
    <div class="row text-center">
        <div class="col-md-3">
            <img src="@Model.ImagePath" class="rounded float-left" alt="img-thumbnail" width="150px" />
        </div>
        <div class="col-md-3">
            <h3 class="text-center">@Model.Make - @Model.Model @Model.Capacity</h3>
            <p class="text-left"><strong>Price - </strong>@Model.Price€</p>
            <a class="btn btn-primary"
               asp-controller="RAMs"
               asp-action="Details"
               asp-route-id="@Model.Id">Details</a>
        </div>
    </div>
</li>