@model AllGPUsQueryModel

@{
    ViewData["Title"] = "GPUs";
}

<form method="get">
    <div class="row mb-5">
        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="Platform"></label>
                <select asp-for="Platform" class="form-control">
                    <option value="">All</option>
                    @foreach (var platform in Model.Platforms)
                    {
                        <option value="@platform">@platform</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="Make"></label>
                <select asp-for="Make" class="form-control">
                    <option value="">All</option>
                    @foreach (var make in Model.Makes)
                    {
                        <option value="@make">@make</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="Model"></label>
                <select asp-for="Model" class="form-control">
                    <option value="">All</option>
                    @foreach (var modell in Model.Models)
                    {
                        <option value="@modell">@modell</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Noctua, NH-U12s, Arctic e.t.c."></input>
        </div>

        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0" selected>Year</option>
                    <option value="1">Price</option>
                    <option value="2">Boost Clock</option>
                    <option value="3">Number of Cooling Fans</option>
                </select>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-primary d-none" value="Search" />


</form>
@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalCount / AllGPUsQueryModel.ItemsPerPage);
}

<div class="row">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="GPUs"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-platform="@Model.Platform"
           asp-route-make="@Model.Make"
           asp-route-model="@Model.Model"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@Model.Sorting"><<</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)"
           asp-controller="GPUs"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage+1)"
           asp-route-platform="@Model.Platform"
           asp-route-make="@Model.Make"
           asp-route-model="@Model.Model"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@Model.Sorting">>></a>
    </div>
</div>

@if (!Model.GPUs.Any())
{
    <h2 class="text-center">No GPUs found.</h2>
}

@if (Model.GPUs.Any())
{
    <ul class="list-group list-group-flush">
        @foreach (var gpu in Model.GPUs)
        {
            <partial name="_ListViewPartial" model="gpu" />
        }
    </ul>
}