@model CPUDetailsViewModel
@{

}

<li class="list-group-item">
    <div class="row text-center">
        <div class="col-md-3">
            <img src="@Model.ImagePath" class="rounded float-left" alt="img-thumbnail" width="150px" />
        </div>
        <div class="col-md-3">
            <h3 class="text-center">@Model.Platform - @Model.Model</h3>
            <p class="text-left"><strong>Boost Frequencies - </strong>@Model.MinSpeed Mhz - @Model.MaxSpeed Mhz</p>
            <p class="text-left"><strong>Price - </strong>@Model.Price€</p>
            <p class="text-left"><strong>TDP - </strong>@Model.TDP W</p>
            <p class="text-left"><strong>Year Released - </strong>@Model.ReleasedYear</p>
        </div>
    </div>
</li>

